<app-landing-header></app-landing-header>
<main>
    <div class="d-flex justify-content-center loginFormFlex">
        <div class="loginFormDiv col-md-4 align-middle">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="email" class="form-control" id="password" placeholder="Enter Password">
                </div>
                <div class="mb-3 d-flex justify-content-between vertical-align-center">
                    <input class="btn btn-primary" type="button" value="Submit">
                    <a routerLink="../login">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</main>